tr {
  display: flex;
  align-items: flex-start;
}

td {
  min-width: 100px;
}

#search-form {
  margin-bottom: 5px;
}

#notice-card > summary {
  display: flex;
  justify-content: flex-end;
}

#info-card {
  padding: 5px;
  opacity: 0.5;
  margin-bottom: 0;
  margin-top: 0;
}

#cards {
  display: flex;
  flex-direction: column;
}

#menu-card > figure {
  overflow: auto;
}

#logo {
  text-decoration: none;
  color: #bbc6ce;
}

#link-card > ul {
  margin-bottom: 5px;
}

article > header {
  font-weight: bold;
}

#menu-card > figure > table > tbody > tr > td {
  width: 200px;
}

#menu-card > div {
  display: flex;
  justify-content: space-around;
}

i {
  margin-right: 5px;
}

.link-bar {
  margin-top: 15px;
  display: flex;
  overflow: auto;
  white-space: nowrap;
  -ms-overflow-style: none;
}

.link-bar::-webkit-scrollbar {
  display: none;
}

.link-bar_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  color: white;
  font-size: 15px;
  font-weight: 600;
  border-radius: 10px;
  margin-right: 10px;
  padding: 5px 10px;
}

@media (prefers-color-scheme: dark) {
  .link-bar_btn {
    background-color: #18232c;
  }
}

@media (prefers-color-scheme: light) {
  .link-bar_btn {
    background-color: #d1dde8;
  }
}
