tr {
  display: flex;
  align-items: flex-start;
}

td {
  min-width: 100px;
}

#last-card {
  padding: 5px;
  opacity: 0.5;
}
#cards {
  display: flex;
  flex-direction: column;
}

#logo {
  text-decoration: none;
  color: #bbc6ce;
}

#link-card > ul {
  margin-bottom: 5px;
}

article > header {
  font-weight: bold;
}

#bus-card > div {
  overflow: auto;
  max-height: 300px;
}

#notice-card > header {
  display: flex;
  justify-content: space-between;
}
