name: Run menu.py and Commit JSON

on:
  schedule:
    - cron: '0 9 * * *'  # 매일 오전 9시 실행 (UTC 기준)
  workflow_dispatch:  # 수동 실행 가능

permissions:
  contents: write  # GitHub Actions가 파일을 Push할 수 있도록 권한 추가

jobs:
  scrape-and-commit:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run menu.py
        run: |
          python menu.py

      - name: Commit and push changes
        run: |
          git config --local user.email "junh0601@naver.com"
          git config --local user.name "GitHub Actions"
          git add src/menu.json
          git commit -m "Auto update menu.json" || echo "No changes to commit"
          git pull --rebase https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/junh0601/dsme.git main
          git push https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/junh0601/dsme.git HEAD:main
